
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color:#3498DB;
  color: white;
  padding: 14px 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
input[type=reset] {
  background-color:#3498DB;
  color: white;
  padding: 14px 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

input[type=submit]:hover {background-color: #DE3163;}
input[type=reset]:hover {background-color: #DE3163;}
/*The following styles used for products page*/


.success-message {
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  color: #3c763d;
  margin-bottom: 20px;
  padding: 15px;
}

.error-message {
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  color: #d8290a;
  margin-bottom: 20px;
  padding: 15px;
}



