
#slideshow {
  position: relative;
  overflow: hidden;
}

#slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#slideshow img.active {
  opacity: 1;
}

nav ul li a.active {
  color: red;
  font-weight: bold;
}
.container {
  position: relative;
  width: 100%;
  border-radius: 5px;
  border: 1px solid red;
  overflow: hidden;
}


/* manage.php table decorations */

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #4CAF50;
  color: white;
}

#reference_btn {
  background-color: #e74c3c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

#change_status_btn {
  background-color: #1ecbd1;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}