
.imageSlider{

}
.navRadio{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;}

	
	  .radio {
		  width: 20px;
		  height: 20px;
		  overflow: hidden;
		  margin: 3px 3px 0 0;
		  padding: 0;
		  text-align: center;
		  font-family: 'Lato';
		  text-decoration: none;
		  font-size: 14px;
		  color: #1A237E;
		  font-weight: 900;
		  cursor: pointer;
		  border: 2px solid #1A237E;
		  border-radius: 50%;
		  display: inline-block;
		transition: background-color .4s;
	  }

	  .trackRadio{display: none;}
	  
	  .radio:hover {
		background-color: #4450db;
	  }
	  
	  input:checked ~ .radio {
		  color: #FFF;
		  background-color: #1A237E;
		opacity: 1;
	  }
	  
	  .img-box {
		width: 800px;
		height: 280px;
		margin: 20px auto;
		position: relative;
		overflow: hidden;
		border-radius: 10px;
		
		border: 2px solid  #1A237E;
	  }
	  
	  
	  #one, #two, #three {
		opacity: 0;
		
		transition-property: opacity;
		transition-duration: .5s;
		position: absolute;
	  }
	  
	  #img-1:checked ~ .img-box #one,
	  #img-2:checked ~ .img-box #two,
	  #img-3:checked ~ .img-box #three {
		opacity: 1;
		
	  }
	  
	  #img-1:checked ~ .navRadio label #dot-1.radio,
	  #img-2:checked ~ .navRadio label #dot-2.radio,
	  #img-3:checked ~ .navRadio label #dot-3.radio {
		color: #FFF;
		background-color: #1A237E;
	  }
	  

.navRadio ul li a.active {
  color: black;
  background-color: #505588ec;
  font-weight: bold;
  border-radius: 5px;
}
.container {
  position: relative;
  width: 100%;
  border-radius: 5px;
  border: 1px solid red;
  overflow: hidden;
}


/* manage.php table decorations */

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #4CAF50;
  color: white;
}

#reference_btn {
  background-color: #e74c3c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

#change_status_btn {
  background-color: #1ecbd1;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

#search_record {
  background-color: #d8d514;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}